#skills {
    background: #f4f6f7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  #skills h2 {
    font-size: 2em;
    color: #2980b9;
    margin-bottom: 20px;
  }
  
  .competency h3 {
    color: #34495e;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.1em;
    color: #34495e;
    margin: 5px 0;
  }
  